doctype html
include ./elements/head
body
  div.wrapper-color
    include elements/header
    main
      section.search-page
        if !!query && !articles.length
          .search-page__wrapper.search-page__wrapper--empty
            h1 Поиск
            .search.search-page__form
              form(action='/search', method='get')
                label
                  input(type='text', name='query' placeholder='Что ищем?', value= query)
                button.search__button.button.button--transparent(type='submit') Найти
              if !!query
                p.search-page__empty Ничего не нашлось
        else
          .search-page__wrapper
            h1 Поиск
            .search.search-page__form
              form(action='/search', method='get')
                label
                  input(type='text', name='query' placeholder='Что ищем?', value= query)
                button.search__button.button.button--transparent(type='submit') Найти
              each article in articles
                .search__result
                  time.search__date(datetime= article.createdDate)= article.createdDate
                  a.search__link(href='/articles/'+ article.id)= article.title

    include elements/footer
