doctype html
include ./elements/head
body
  .wrapper.wrapper--nobackground
    include ./elements/header-logged-in
    block content
    include ./elements/footer
  block scripts
    script(src='/js/main.js')
