extends ../layout-my

block content
  main.main-page.main-page--padding
    section.main-page__notes.notes
      h1.notes__title Мои записи
      ul.notes__list
        each article in articles
          li.notes__list-item
            form(action='/my', method='POST')
              time.notes__item-time(datetime= article.publicationDate)= article.publicationDate
              a.notes__item-text(href='/articles/' + article.id)= article.title
              input(type='hidden', name='articleId', value= article.id)
              input(type='hidden', name='method', value='DELETE')
              button.notes__button.button.button--close-item(type='submit')
                span.visually-hidden Закрыть строку списка
    include ../mixins/pagination
    +pagination(pagesCount, activePage, myPath)
