extends ../layout-auth

block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a(class='popup__button button button--popup-close', aria-label='Закрыть окно' href="/")
          | Закрыть
          | окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--register
            a(class='popup__tab-switcher button' href='/register') Регистрация
          li.popup__tab.popup__tab--active.popup__tab--log-in
            a(class='popup__tab-switcher button' href='#') Войти
        .popup__form.popup__form--hidden.form.form--register
        .popup__form.popup__form--active.form.form--log-in
          form(action='/login', method='post')
            .form__field
              label
                input(type='email', placeholder='Электронная почта', name='email', value= user ? user.email : '' required='')
                if (loginError)
                  p(class="form__error-message") Пользователь с такими данными не найден
            .form__field
              label
                input(type='password', placeholder='Пароль', name='password', required='')
            if errors
              .form__validation-error
                p.form__error-message При авторизации произошли ошибки:
                ul.form__errors
                  each error in errors
                    li.form__error= error
            button.form__submit-btn.form__submit-btn--log-in.button.button--colored(type='submit') Войти
      .modal__overlay

block scripts
  script(src='js/main.js')
