extends ../layout-auth

block content
  main
    h1.visually-hidden Регистрация пользователя
    section.modal
      .popup.popup--registration
        a(class='popup__button button button--popup-close', aria-label='Закрыть окно' href="/")
          | Закрыть
          | окно
        h2.visually-hidden Форма регистрации
        ul.popup__tabs
          li.popup__tab.popup__tab--active.popup__tab--register
            a(class='popup__tab-switcher button' href='#') Регистрация
          li.popup__tab.popup__tab--log-in
            a(class='popup__tab-switcher button' href='/login') Войти
        .popup__form.popup__form--active.form.form--register
          form(action='register', method='post', enctype='multipart/form-data')
            .form__field
              label
                input(type='email', placeholder='Электронная почта', name='email', value= user ? user.email : '', required='')
            .form__field
              label
                input(type='text', placeholder='Имя', name='firstname', value= user ? user.firstname : '', required='')
            .form__field
              label
                input(type='text', placeholder='Фамилия' name='lastname', value= user ? user.lastname : '', required='')
            .form__field
              label
                input(type='password', placeholder='Пароль', name='password', required='')
            .form__field
              label
                input(type='password', placeholder='Повтор пароля', name='repeatPassword', required='')
            .form__image-loader
              a.form__avatar.avatar
                img(src='img/icons/smile.svg', alt='аватар пользователя')
              label
                input.visually-hidden(type='file', name='avatar', value= user ? user.avatar : '', required='')
                | Загрузить фото профиля
            button.form__submit-btn.form__submit-btn--register.button.button--colored(type='submit') Зарегистрироваться
          if errors.length
            .form__validation-error
              p.form__error-message При регистрации произошли ошибки:
              ul.form__errors
                each error in errors
                  li.form__error= error
      .modal__overlay
block scripts
  script(src='js/main.js')

